<section>
  <div id="container">
    <div class="job-container">
      <div class="company-container">
        <h1 class="company">Fraser Health</h1>
        <p class="company">January 2024 - April 2024</p>
      </div>
      <div class="title-container">
        <h1 class="title">Data Analyst Intern</h1>
        <ul>
          <li>
            Currently Employed at this Company
          </li>
        </ul>
      </div>
    </div>
    <div class="job-container">
      <div class="company-container">
        <h1 class="company">Nettwerk Music Group</h1>
        <p class="company">May 2022 - September 2022</p>
      </div>
      <div class="title-container">
        <h1 class="title">Data Insights Analyst Intern</h1>
        <ul>
          <li>
            Conducted in-depth explorations: collected, analyzed and visualized
            data using SQL and Python to answer data-driven inquiries
          </li>
          <li>
            Created interactive dashboards with Tableau to provide insights on
            playlist rankings, track performance, artists' growth velocity and
            other KPIs
          </li>
          <li>
            Monitored artist streaming performances to determine actionable
            insights and communicated findings with the team to formulate
            executable strategies
          </li>
        </ul>
      </div>
    </div>
    <div class="job-container">
      <div class="company-container">
        <h1 class="company">Hypatia Systems</h1>
        <p class="company">September 2020 - December 2020</p>
      </div>
      <div class="title-container">
        <h1 class="title">Software Developer Intern</h1>
        <ul>
          <li>
            Implemented new features for desktop and Google Workplace
            applications used by millions of users with HTML, CSS and JavaScript
          </li>
          <li>
            Supported existing features by fixing bugs, refactoring, and
            improving the user interface
          </li>
          <li>
            Tested individual features to ensure functionality and quality of
            the overall application
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
